.header {
    background-image: var(--backgroundImage);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    text-align: center;
}

h4 {
    color: white;
    padding-top: 2em;
    font-size: 1.7rem;
}

.todo {
    display: inline-flex;
    width: 44vw;
    margin: 2em 0 1.5em 0;
}

input[type=text] {
    border: 1px groove var(--lightGrayishBlue);
    padding: 1.2em 0 1.2em 1em;
    border-radius: 5px;
    text-align: left;
    width: 41.5vw;
    margin: 0 0 1em 3em;
    cursor: text;
    font-weight: 700;
    background-color: var(--background);
}

input[type=submit] {
    padding: 1.1em;
    border-radius: 5px;
    background-color: transparent;
    border: 0.5px whitesmoke solid;
    color: white;
    &:hover {
        background-color: var(--enter);
        transition: 0.5s ease;
    }
}

.myDIV {
    position: relative;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: var(--headerFont);
    margin-right: 76%;
}

@import './list';