:root {
    /* COLORS */
    /* LIGHT THEME */
    --veryLightGray: hsl(0, 0%, 98%);
    --veryLightGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue: hsl(233, 11%, 84%);
    --darkGrayishBlue: hsl(236, 9%, 61%);
    --veryDarkGrayishBlue: hsl(235, 19%, 35%);
    --brightBlue: hsl(220, 98%, 61%);
    --enter: #809af7;
    /* DARK THEME */
    --veryDarkBlue: hsl(235, 21%, 11%);
    --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --lightGrayishBlue: hsl(234, 39%, 85%);
    --enter2: #6d1c82;
    /* --lightGrayishBlue (hover): hsl(236, 33%, 92%); */
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue: hsl(233, 14%, 35%);
    --veryDarkGrayishBlue: hsl(237, 14%, 26%);
    /* FONTS */
    --globalFont: "Josefin", sans-serif;
    --headerFont: "DM Serif Display", serif;
    --background: var(--veryLightGray);
    --backgroundImage: url(../images/bg-desktop-light.jpg);
    --liColor: var(--veryDarkGrayishBlue);
    --anchorColor: var(--veryDarkGrayishBlue);
}

.dark-mode {
    --background: var(--veryDarkGrayishBlue);
    --liColor: var(--lightGrayishBlue);
    --anchorColor: var(--lightGrayishBlue);
    --enter: var(--enter2);
    ;
    --backgroundImage: url(../images/bg-desktop-dark.jpg);
}

* {
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    font-family: var(--globalFont);
}

body {
    background-color: var(--background);
    text-align: center;
}

.bottom {
    font-size: 0.8rem;
    a {
        text-decoration: none;
        color: #809af7;
    }
}

@import './main';